In [9]:
# 선택 정렬 소스코드
# 가장 작은 데이터를 앞으로 보내는 과정을 N-1번 반복하면 정렬이 완료된다
# 6-1 선택 정렬 소스코드

array=[7,5,9,0,3,1,6,2,4,8]

for i in range(len(array)):
  min_index=i # 가장 작은 원소의 인덱스
  for j in range(i+1,len(array)):
    if array[min_index] > array[j]:
      min_index=j
  array[i],array[min_index]=array[min_index],array[i]


print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
# 6-2 파이썬 스와프 소스코드

#0 인덱스와 1인덱스의 원소 교체하기
array=[3,5]
array[0],array[1]=array[1],array[0]

print(array)

[5, 3]

In [33]:
# 6-3 삽입 정렬 소스 코드/ 삽입 정렬 : 특정한 데이터를 적절한 위치에 삽입한다는 의미

array=[7,5,9,0,3,1,6,2,4,8]

for i in range(1, len(array)):
  for j in range(i,0,-1):
    if array[j] < array[j-1]:
       array[j], array[j-1]= array[j-1], array[j]
    else:
      break
print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
# 6-4 퀵 정렬 소스코드

array = [5, 7, 9, 0, 3, 1, 6, 2, 4, 8]

def quick_sort(array, start, end):
    if start >= end: # 원소가 1개인 경우 종료
        return
    pivot = start # 피벗은 첫 번째 원소
    left = start + 1
    right = end
    while(left <= right):
        # 피벗보다 큰 데이터를 찾을 때까지 반복
        while(left <= end and array[left] <= array[pivot]):
            left += 1
        # 피벗보다 작은 데이터를 찾을 때까지 반복
        while(right > start and array[right] >= array[pivot]):
            right -= 1
        if(left > right): # 엇갈렸다면 작은 데이터와 피벗을 교체
            array[right], array[pivot] = array[pivot], array[right]
        else: # 엇갈리지 않았다면 작은 데이터와 큰 데이터를 교체
            array[left], array[right] = array[right], array[left]
    # 분할 이후 왼쪽 부분과 오른쪽 부분에서 각각 정렬 수행
    quick_sort(array, start, right - 1)
    quick_sort(array, right + 1, end)

quick_sort(array, 0, len(array) - 1)
print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
# 6-5 파이썬의 장점을 살린 퀵 정렬 소스코드

array=[5,7,9,0,3,1,6,2,4,8]

def quick_sort(array):
  #라스트 하나 이하의 원소만 담고 있다면 종료
  if len(array) <= 1:
    return array

  pivot= array[0] # 피벗은 첫번째 원소
  tail= array[1:] # 피벗을 제외한 리스트

  left_side= [x for x in tail if x <= pivot]
  right_side= [x for x in tail if x > pivot]

  #분할 이후 왼쪽 부분과 오른쪽 부분에서 각각 정렬을 수행하고, 전체 리스트를 반환
  return quick_sort(left_side) + [pivot] + quick_sort(right_side)


print(quick_sort(array))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
# 계수 정렬 : 특정한 조건이 부합할 때만 사용할 수 있지만 매우 빠른 정려 알고리즘
# 6-6 계수 정렬 소스코드

array =[7,5,9,0,3,1,6,2,9,1,4,8,0,5,2]

count= [0]*(max(array)+1)

for i in range(len(array)):
  count[array[i]]+=1

for i in range(len(count)):
  for j in range(count[i]):
    print(i ,end=' ')

0 0 1 1 2 2 3 4 5 5 6 7 8 9 9

In [18]:
# 6-7 sorted 소스코드
#sorted의 경우 반환값으로 정렬된 새로운 리스트
array=[7,5,9,0,3,1,6,2,4,8]

result=sorted(array)
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
# 6-8 sort 소스코드
#sort의 경우 반환값이 없이 해당 리스트 자체를 다시 정렬
array=[7,5,9,0,3,1,6,2,4,8]

array.sort()
print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
array=[('바나나',2),('사과',5),('당근',3)]

result= sorted(array, key = lambda data: data[1])
print(result)

[('바나나', 2), ('당근', 3), ('사과', 5)]

In [23]:
# 6-10 위에서 아래로

n= int(input())

array=[]
for i in range(n):
  array.append(int(input()))

#파이썬 기본 정렬 라이브러리를 이용하여 정렬 수행
array=sorted(array, reverse=True) # 내림차순

for i in range(len(array)):
  print(array[i], end=' ')

3
15
27
12
27 15 12

In [27]:
# 6-11 성적이 낮은 순서로 학생 출력하기
n= int(input())

array=[]
for i in range(n):
  input_data=input().split()
  array.append((input_data[0],int(input_data[1])))

# 키를 이용하여 점수를 기준으로 정렬 / lambda 매개변수 : 표현식 array가 studnet에 할당
array = sorted(array, key = lambda student: student[1])

#정렬이 수행된 결과를 출력
for j in array:
  print(j[0] ,end=' ')

2
홍길동 95
이순신 77
이순신 홍길동

In [32]:
# 6-12 두 배열의 원소 교체

n,k = map(int,input().split())
a= list(map(int,input().split()))
b= list(map(int,input().split()))

a.sort() # 오름차순
b.sort(reverse=True) # 내림차순

for i in range(k):
  if a[i] < b[i]:
    a[i], b[i]=b[i], a[i]
  else:
    break

print(sum(a))

5 3
1 2 5 4 3
5 5 6 6 5
26