In [3]:
# 국영수
n = int(input())

graph=[]

# 이름 국어 영어 수학
for _ in range(n):
  n,kor,eng,math = input().split()
  graph.append([n, int(kor), int(eng),int(math)])

graph.sort(key= lambda x: (-x[1], x[2], -x[3], x[0]))

for i in graph:
  print(i[0])

12
Junkyu 50 60 100
Sangkeun 80 60 50
Sunyoung 80 70 100
Soong 50 60 90
Heaebin 50 60 100
Kangsoo 60 80 100
Doong 80 60 100
Sei 70 70 70
Wonseob 70 70 90
Sanghyun 70 70 80
nsj 80 80 80
Taewhan 50 60 90
Doong
Sangkeun
Sunyoung
nsj
Wonseob
Sanghyun
Sei
Kangsoo
Heaebin
Junkyu
Soong
Taewhan

In [1]:
# 국영수

# 첫 번째 입력으로 받은 N은 학생의 수
N = int(input())

# N명의 학생 정보를 입력받아 2차원 리스트로 저장
# 각 학생의 정보는 [이름, 국어 점수, 영어 점수, 수학 점수] 형태
table = [list(input().split()) for _ in range(N)]

# 학생 정보를 정렬하는 부분
# 정렬 기준은 lambda 함수를 이용하여 설정
# 정렬 기준 설명:
# 1. -int(x[1]): 국어 점수를 기준으로 내림차순 정렬합니다. 점수가 높은 학생이 앞에 오도록 합니다.
# '-' 기호를 사용함으로써 큰 수에서 작은 수로 정렬되게 합니다.
# 2. int(x[2]): 영어 점수를 기준으로 오름차순 정렬합니다. 점수가 낮은 학생이 앞에 오도록 합니다.
# 영어 점수는 작은 수에서 큰 수로 정렬되어야 하기 때문에 '-' 기호를 사용하지 않습니다.
# 3. -int(x[3]): 수학 점수를 기준으로 내림차순 정렬합니다. 점수가 높은 학생이 앞에 오도록 합니다.
# 수학 점수 역시 큰 수에서 작은 수로 정렬되어야 하므로 '-' 기호를 사용합니다.
# 4. x[0]: 이름을 기준으로 오름차순 정렬합니다. 사전 순으로 앞에 오는 이름이 앞에 옵니다.
# 이름은 문자열이기 때문에, 알파벳 오름차순(즉, A가 Z보다 앞에 오는)으로 정렬됩니다.
table.sort(key=lambda x: (-int(x[1]), int(x[2]), -int(x[3]), x[0]))

# 정렬된 학생 정보에서 이름만 순서대로 출력
for student in table:
    print(student[0])

4
j 50 60 100
s 80 60 50
ss 80 70 100
so 50 60 90
s
ss
j
so